name: Run CodeforcesRanking CLI

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Set Timezone
        # You may pin to the exact commit or the version.
        # uses: szenius/set-timezone@ce9c440bc3af4f51b28d7ef7e5c47ee8f26c8dcb
        uses: szenius/set-timezone@v1.2
        with:
          # Desired timezone for Linux
          timezoneLinux: "India Standard Time" # optional, default is UTC
          # Desired timezone for MacOS
          timezoneMacos: "India Standard Time" # optional, default is GMT
          # Desired timezone for Windows
          timezoneWindows: "India Standard Time" # optional, default is UTC
        
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK 11 for x64
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt' # Use 'adopt' distribution on Windows
          architecture: x64

      - name: Compile Project
        run: |
          javac -d bin -cp ".\CodeforcesRanking\dist\lib\*" -Xlint:deprecation .\CodeforcesRanking\src\codeforcesranking\*.java

      - name: Run CLI
        run: |
          java -cp ".\bin;.\CodeforcesRanking\dist\lib\*;.\CodeforcesRanking\dist\lib\*" codeforcesranking.Main cmrit25 21r01 22r05a Manohar_Eldhandi Vishwatej4 yash_37 Sadanand26

      - name: Archive Generated File
        run: |
          mkdir -p ${{ github.workspace }}\LeaderboardsStorage
          move .\CodeforcesRanking\Leaderboards\CurrentCodeforcesRatings.xlsx ${{ github.workspace }}\LeaderboardsStorage

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Commit Generated CSV File
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add ${{ github.workspace }}\Leaderboards\CurrentCodeforcesRatings.csv
          git commit -m "Add generated leaderboard data - ${{ steps.date.outputs.date }}"
          git push


      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Leaderboard
          path: ${{ github.workspace }}\Leaderboards
